<head>
  <meta charset="utf-8">
  {{ with site.Language.Params.htmlCode | default site.Language.Locale }}
    <meta http-equiv="content-language" content="{{ . }}">
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color">

  {{/* Title */}}
  {{ if .IsHome }}
    <title>{{ site.Title | emojify }}</title>
    <meta name="title" content="{{ site.Title | emojify }}">
  {{ else }}
    <title>{{ .Title | plainify | emojify }} &middot; {{ site.Title | emojify }}</title>
    <meta name="title" content="{{ .Title | plainify | emojify }} &middot; {{ site.Title | emojify }}">
  {{ end }}

  {{/* Metadata */}}
  {{ with (.Params.Summary | default .Params.Description) | default site.Params.description }}
    <meta name="description" content="{{ . }}">
  {{ end }}
  {{ with  .Params.Tags | default site.Params.keywords }}
    <meta name="keywords" content="{{ range . }}{{ . }},{{ end }}">
  {{ end }}
  {{ with site.Params.robots }}
    <meta name="robots" content="{{ . }}">
  {{ end }}
  {{ with .Params.robots }}
    <meta name="robots" content="{{ . }}">
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}">
  {{ range .AlternativeOutputFormats }}
    {{ printf `
      <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink (site.Title | emojify) |
      safeHTML
    }}
  {{ end }}

  {{/* Me */}}
  {{ with site.Params.Author.name }}
    <meta name="author" content="{{ . }}">
  {{ end }}
  {{ with site.Params.Author.links }}
    {{ range $links := . }}
      {{ range $name, $url := $links }}
        {{ if not (strings.HasPrefix $url "mailto:") }}
          <link href="{{ $url }}" rel="me">
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/* Social */}}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ $alg := site.Params.fingerprintAlgorithm | default "sha512" }}

  {{/* CSS */}}
  {{ $cssResources := slice }}
  {{ $schemeName := site.Params.colorScheme | default "koralyte" }}
  {{ $cssScheme := resources.Get (printf "css/schemes/%s.css" (lower $schemeName)) | default (resources.Get "css/schemes/koralyte.css") }}
  {{ $cssResources = $cssResources | append $cssScheme }}
  {{ $cssResources = $cssResources | append (resources.Get "css/compiled/main.css") }}
  {{ with resources.Get "css/custom.css" }}
    {{ $cssResources = $cssResources | append . }}
  {{ end }}
  {{ $disableImageZoom := site.Params.disableImageZoom | default false }}
  {{ if not $disableImageZoom }}
    {{ $cssResources = $cssResources | append (resources.Get "lib/zoom/style.css") }}
  {{ end }}
  {{ $bundleCSS := $cssResources | resources.Concat "css/main.bundle.css" | resources.Minify | resources.Fingerprint $alg }}
  <link
    type="text/css"
    rel="stylesheet"
    href="{{ $bundleCSS.RelPermalink }}"
    integrity="{{ $bundleCSS.Data.Integrity }}">

  {{/* JS loaded immediately */}}
  {{ $jsAppearance := resources.Get "js/appearance.js" | resources.ExecuteAsTemplate "js/appearance.js" . | resources.Minify | resources.Fingerprint $alg }}
  <script
    type="text/javascript"
    src="{{ $jsAppearance.RelPermalink }}"
    integrity="{{ $jsAppearance.Data.Integrity }}"></script>
  {{ if not $disableImageZoom }}
    {{ $zoomJS := resources.Get "lib/zoom/zoom.min.umd.js" | resources.Fingerprint $alg }}
    <script src="{{ $zoomJS.RelPermalink }}" integrity="{{ $zoomJS.Data.Integrity }}"></script>
  {{ end }}

  {{/* JS deferred */}}
  {{ $jsResources := slice }}
  {{ $showScrollToTop := partial "functions/param.html" (dict "params" site.Params.footer "key" "showScrollToTop" "default" true) }}
  {{ if $showScrollToTop }}
    {{ $jsResources = $jsResources | append (resources.Get "js/scroll-to-top.js") }}
  {{ end }}
  {{ if site.Params.enableSearch | default false }}
    {{ $fuseRaw := resources.Get "lib/fuse/fuse.min.cjs" }}
    {{ $fuse := resources.FromString "lib/fuse/fuse.min.js" (replace $fuseRaw.Content "module.exports=" "window.Fuse=") }}
    {{ $jsResources = $jsResources | append $fuse | append (resources.Get "js/search.js") }}
  {{ end }}
  {{ if site.Params.enableCodeCopy | default false }}
    {{ $jsResources = $jsResources | append (resources.Get "js/code.js") }}
  {{ end }}

  {{ $jsResources = $jsResources | append (resources.Get "js/katex-render.js") }}
  {{ $jsResources = $jsResources | append (resources.Get "js/print-support.js") }}
  {{ $jsResources = $jsResources | append (resources.Get "js/email.js") }}
  {{ if $jsResources }}
    {{ $bundleJS := $jsResources | resources.Concat "js/main.bundle.js" | resources.Minify | resources.Fingerprint $alg }}
    <script
      defer
      type="text/javascript"
      id="script-bundle"
      src="{{ $bundleJS.RelPermalink }}"
      integrity="{{ $bundleJS.Data.Integrity }}"
      data-copy="{{ i18n "code.copy" }}"
      data-copied="{{ i18n "code.copied" }}"></script>
  {{ end }}

  {{/* Conditional loaded resources */}}
  {{ partial "vendor.html" . }}

  {{/* Icons */}}
  {{- if fileExists "static/apple-touch-icon.png" }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">
  {{- end }}
  {{- if fileExists "static/favicon-32x32.png" }}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
  {{- end }}
  {{- if fileExists "static/favicon-16x16.png" }}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">
  {{- end }}
  {{- if fileExists "static/site.webmanifest" }}
  <link rel="manifest" href="{{ "site.webmanifest" | relURL }}">
  {{- end }}

  {{/* Schema */}}
  {{ partial "schema.html" . }}

  {{/* Analytics */}}
  {{ if hugo.IsProduction }}
    {{ partialCached "analytics/main.html" . "analytics" }}
  {{ end }}

  {{/* Extend head */}}
  {{ if templates.Exists "_partials/extend-head.html" }}
    {{ partial "extend-head.html" . }}
  {{ end }}

</head>
