/*! Koralyte | MIT License | https://github.com/ragibson/koralyte */

@config "../../tailwind.config.js";

@import "tailwindcss";
@import "./components/chroma.css" layer(utilities);

html:not(.dark) {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body a,
body button {
  @apply transition-colors;
}

button,
[role="button"] {
  cursor: pointer;
}

/* Scale SVG icons to text size */
.icon svg {
  @apply h-[1em] w-[1em];
}

/* Search */
#search-query::-webkit-search-cancel-button,
#search-query::-webkit-search-decoration,
#search-query::-webkit-search-results-button,
#search-query::-webkit-search-results-decoration {
  @apply hidden;
}

/* RTL support */
.prose blockquote {
  @apply rtl:border-r-4 rtl:border-l-0 rtl:pr-4;
}

.prose ul > li,
.prose ol > li {
  @apply rtl:mr-7 rtl:pr-2 rtl:pl-0;
}

.prose ol > li:before,
.prose ul > li:before {
  @apply rtl:right-1 rtl:left-auto;
}

.prose thead td:first-child,
.prose thead th:first-child {
  @apply rtl:pr-0;
}

.prose thead td:last-child,
.prose thead th:last-child {
  @apply rtl:pl-0;
}

/* Adjust first child within prose */
.prose div.min-w-0.max-w-prose > *:first-child {
  @apply mt-3;
}

/* Extend default width of pages from 65ch to 88ch */
.max-w-prose {
  max-width: 88ch;
}

/* Allow a smaller width for images */
.max-w-65ch {
  max-width: 65ch;
  width: 100%;
}

/* Center figure by adjusting left and right margins */
.center-figure,
.center-figure > img {
  margin-left: auto;
  margin-right: auto;
}

/* Table of Contents */
#TOCView {
  max-height: calc(100vh - 150px);
  min-height: 0;
  overflow-x: hidden;
}

.toc ul,
.toc li {
  @apply list-none px-0 leading-snug;
}

.toc ul ul {
  @apply ltr:pl-4 rtl:pr-4;
}

.toc a {
  @apply font-normal text-neutral-700 dark:text-neutral-300;
}

.toc ul > li {
  @apply rtl:mr-0;
}

/* Code Copy */
.highlight {
  @apply relative z-0;
}

.highlight-wrapper:hover > .copy-button {
  @apply visible;
}

.copy-button {
  @apply invisible absolute top-0 right-0 z-10 w-20 cursor-pointer truncate overflow-hidden rounded-tr-md rounded-bl-md bg-neutral-200 py-1 font-mono text-sm whitespace-nowrap text-neutral-700 opacity-90 dark:bg-neutral-600 dark:text-neutral-200;
}

.copy-button:hover,
.copy-button:focus,
.copy-button:active,
.copy-button:active:hover {
  @apply bg-primary-100 dark:bg-primary-600;
}

.copy-textarea {
  @apply absolute -z-10 opacity-5;
}

/* Fix long KaTeX equations on mobile (see https://katex.org/docs/issues.html#css-customization) */
.katex-display {
  overflow: auto hidden;
}

/* Fix katex overflow */
.katex-display {
  padding: 1em;
  width: calc(100% - 1em);
}

/* Fix long tables breaking out of article on mobile */
table {
  display: block;
  overflow: auto;
}

/* Fix long inline code sections breaking out of article on mobile */
code {
  word-wrap: break-word; /* All browsers since IE 5.5+ */
  overflow-wrap: break-word; /* Renamed property in CSS3 draft spec */
}

/* Fix long URLs breaking out of article bounds on mobile */
a {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.prose-invert .highlight pre > code {
  background-color: unset;
}

/* Custom */

pre {
  text-align: left;
}

/* TODO: consider making the thumbnail aspect ratios consistent across the site */
.thumbnail_card {
  min-width: 300px;
  height: 200px;
}

.thumbnail_card_related {
  height: 150px;
}

.thumbnail {
  width: 300px;
  min-height: 180px;
}

/* TODO: consider a redesign, this could look bad on extremely thin devices */
@variant max-md {
  .thumbnail {
    width: 100%;
  }
}

.thumbnail-shadow {
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.3);
}

.anchor {
  display: block;
  position: relative;
  top: -150px;
  height: 0px;
  visibility: hidden;
}

/* Offset scroll position to avoid header overlap */
[id^="fn"],
[id^="fnref"] {
  scroll-margin-top: 145px;
}

/* patch for skip to main content */
#main-content {
  scroll-margin-top: -125px;
}

.medium-zoom-image--opened {
  z-index: 100;
}

@layer utilities {
  .bf-border-color {
    @apply border-neutral-300 dark:border-neutral-700;
  }

  .bf-border-color-hover {
    @apply hover:border-primary-600 dark:hover:border-primary-400;
  }

  .bf-icon-color-hover {
    @apply hover:text-primary-600 dark:hover:text-primary-400;
  }

  .bf-scrollbar {
    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-track);
      border-radius: var(--scrollbar-track-radius);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb);
      border-radius: var(--scrollbar-thumb-radius);
    }
    &::-webkit-scrollbar-corner {
      background-color: var(--scrollbar-corner);
      border-radius: var(--scrollbar-corner-radius);
    }
    @supports (-moz-appearance: none) {
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-thumb, initial)
        var(--scrollbar-track, initial);
    }
    &::-webkit-scrollbar {
      display: block;
      width: 8px;
      height: 8px;
    }
    --scrollbar-thumb: oklch(70.8% 0 0);
    --scrollbar-track: oklch(92.2% 0 0);
    &:is(.dark *) {
      --scrollbar-thumb: oklch(43.9% 0 0);
    }
    &:is(.dark *) {
      --scrollbar-track: oklch(26.9% 0 0);
    }
  }
}

@layer base {
  * {
    @supports (-moz-appearance: none) {
      scrollbar-color: initial;
      scrollbar-width: initial;
    }
  }
}

/* Prevent body scroll when mobile menu is open */
body:has(#mobile-menu-toggle:checked) {
  overflow: hidden;
}

/* Reset body position for desktop after it was modified on mobile */
@media (min-width: 853px) {
  body:has(#mobile-menu-toggle:checked) {
    overflow: visible;
  }
}

.nested-menu {
  position: relative;
}

.menuhide {
  position: absolute;
  z-index: 1000;
  white-space: nowrap;

  opacity: 0;
  visibility: hidden;

  transition:
    visibility 0.3s,
    opacity 0.3s ease-in-out;
}

.nested-menu:hover .menuhide,
.nested-menu:focus-within .menuhide {
  opacity: 1;
  visibility: visible;
}

.active {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}
