{{ define "main" }}
  <header>
    <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
  </header>

  <section class="mt-0 prose flex max-w-full flex-col dark:prose-invert lg:flex-row mb-10">
    <div class="min-w-0 min-h-0 max-w-prose w-full">
      {{ .Content }}
    </div>
  </section>

  {{ if gt .Pages 0 }}
    <section class="space-y-10 w-full">
      {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
        <h2 class="mt-12 text-2xl font-bold text-neutral-700 first:mt-8 dark:text-neutral-300">
          {{ .Key }}
        </h2>
        {{ range .Pages }}
          {{ partial "article-link/simple.html" . }}
        {{ end }}
      {{ end }}
    </section>
  {{ else }}
    <section class="mt-10 prose dark:prose-invert">
      <p class="py-8 border-t">
        <em>{{ i18n "list.no_articles" | emojify }}</em>
      </p>
    </section>
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}